[submodule "go-ethereum"]
	path = go-ethereum
	url = https://github.com/ethereum/go-ethereum.git
[submodule "bor"]
	path = bor
	url = https://github.com/maticnetwork/bor.git
[submodule "nitro"]
	path = nitro
	url = https://github.com/OffchainLabs/nitro.git
[submodule "node"]
	path = base-node
	url = https://github.com/base-org/node.git
[submodule "op-geth"]
	path = op-geth
	url = https://github.com/ethereum-optimism/op-geth.git
[submodule "avalanchego"]
	path = avalanchego
	url = https://github.com/ava-labs/avalanchego.git
