[submodule "go-ethereum"]
	path = go-ethereum
	url = https://github.com/ethereum/go-ethereum.git
[submodule "bor"]
	path = bor
	url = https://github.com/maticnetwork/bor.git
[submodule "nitro"]
	path = nitro
	url = https://github.com/OffchainLabs/nitro.git
